<%- include('partials/header.ejs') %>
    
    <h1><%= accessoirSearch.nom %> </h1>
    <p class="info">Nom: <%= accessoirSearch.id %></p>
    <p class="info">Description: <%= accessoirSearch.description %></p>
    <p class="info">Prix: <%= accessoirSearch.prix %></p>




<%- include('partials/footer.ejs') %>