<%- include('partials/header.ejs') %>

<h1><%= accessSearch.nom %> </h1>
<p class="Infos">Nom : <%= accessSearch.nom %></p>

<p class="Infos">Description : <%= accessSearch.description %></p>

<p class="Infos">Prix : <%= accessSearch.prix %></p>

<%- include('partials/footer.ejs') %>