<%- include('partials/header.ejs') %>

<h1><%= femmSearch.nom %> </h1>
<p class="Infos">Nom : <%= femmSearch.nom %></p>

<p class="Infos">Description : <%= femmSearch.description %></p>

<p class="Infos">Prix : <%= femmSearch.prix %></p>

<%- include('partials/footer.ejs') %>