<%- include('partials/header.ejs') %>

<h1><%= hommSearch.nom %> </h1>
<p class="Infos">Nom : <%= hommSearch.nom %></p>

<p class="Infos">Prix : <%= hommSearch.prix %></p>

<p class="Infos">Description : <%= hommSearch.description %></p>



<%- include('partials/footer.ejs') %>